
<form class="form-horizontal hideablenotes {{name}}{{category}}note collapse" role="form" data-id="{{_id}}">
    <div class="form-group">
        <input type="email" class="form-control" id="inputtitle{{name}}{{category}}" placeholder="Note Title" value="{{title}}" data-id="{{_id}}"/>
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="inputtext{{name}}{{category}}" placeholder="Note Text" value="{{body}}" data-id="{{_id}}"/>
    </div>

    <div class="btn-group">
        <button class="btn btn-default {{name}}{{category}}save savenote" type="button"  data-category="{{category}}" data-name="{{name}}">Save Note
        </button>
        <button class="btn btn-default {{name}}{{category}}delete deletenote" type="button"  data-category="{{category}}" data-name="{{name}}">Delete Note
        </button>
    </div>
</form>