
<form class="form-horizontal hidablenotes {{name}}{{category}} invisible" role="form" data-id="{{_id}}">
    <div class="form-group">
        <input type="email" class="form-control" id="inputtitle{{_id}}" placeholder="Note Title" value="{{title}}" data-id="{{_id}}"/>
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="inputtext{{_id}}" placeholder="Note Text" value="{{body}}" data-id="{{_id}}"/>
    </div>

    <div class="btn-group">
        <button class="btn btn-default" type="button" class="savenote" data-id="{{_id}}">Save Note
        </button>
        <button class="btn btn-default" type="button" class="deletenote" data-id="{{_id}}">Delete Note
        </button>
    </div>
</form>